@import url('https://fonts.googleapis.com/css?family=Abel');

.desc{
    padding-top: 20px;
    padding-left: 20px;
    font-size: 4em;
    font-family: 'Abel', sans-serif;
    text-decoration: underline;
}

.dropdown-logo{
    height: 40px;
    padding-right: 10px;
}

.head{
    padding-top: 80px;
    font-size: 7em;
    color: white;
}
.sub-head{
    color: white;
    font-size: 3.5em;
    padding-bottom: 80px;
}

.header{
    background-image: linear-gradient(rgba(20,20,20,0.8),rgba(20,20,20,0.8)),url("../images/code_bg.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    text-align: center;
    height: auto;
    font-family: 'Abel', sans-serif;
}

.desc1{
    font-size: 3em;
    font-family: 'Abel', sans-serif;
}

contact-form{
    background: #fff;
    margin-top: 10%;
    margin-bottom: 5%;
    width: 70%;
}
.contact-form .form-control{
    border-radius:1rem;
}
.contact-image{
    text-align: center;
}
.contact-image img{
    border-radius: 6rem;
    width: 11%;
    margin-top: -3%;
    transform: rotate(29deg);
}

.rating {
    unicode-bidi: bidi-override;
    direction: rtl;
    text-align: center;
}
.rating > span {
    display: inline-block;
    position: relative;
    font-size: 2em;
    padding: 5px;
}
.rating > span:hover,
.rating > span:hover ~ span {
    color: transparent;
}
.rating > span:hover:before,
.rating > span:hover ~ span:before {
    content: "\2605";
    position: absolute;
    left: 0; 
    color: gold;
}

@media only screen and (max-device-width : 480px)
{
    .head{
        font-size: 5em;
    }
    .sub-head{
        font-size: 2em;
    }
    .desc{
        font-size: 2em;
    }
    .desc1{
        font-size: 2em;
        padding-top: 10px;
    }
}