@import url('https://fonts.googleapis.com/css?family=Abel');

.desc{
    padding-top: 20px;
    padding-left: 20px;
    font-size: 4em;
    font-family: 'Abel', sans-serif;
    text-decoration: underline;
}

.dropdown-logo{
    height: 40px;
    padding-right: 10px;
}

.head{
    padding-top: 80px;
    font-size: 7em;
    color: white;
}
.sub-head{
    color: white;
    font-size: 3.5em;
    padding-bottom: 80px;
}
.header{
    background-image: linear-gradient(rgba(20,20,20,0.6),rgba(20,20,20,0.6)),url("../images/c++.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    text-align: center;
    height: auto;
    font-family: 'Abel', sans-serif;
}

@media only screen and (max-device-width : 480px)
{
    .head{
        font-size: 5em;
    }
    .sub-head{
        font-size: 2em;
    }
    .desc{
        font-size: 2em;
    }
    .header{
       background-image: linear-gradient(rgba(20,20,20,0.6),rgba(20,20,20,0.6)),url("../images/c++1.png");
    }
}