@import url('https://fonts.googleapis.com/css?family=Abel');

.logo-navbar{
    height: 100px;
}
.desc{
    padding-top: 20px;
    padding-left: 20px;
    font-size: 4em;
    font-family: 'Abel', sans-serif;
    text-decoration: underline;
}
.dropdown-logo{
    height: 40px;
    padding-right: 10px;
}

.head{
    padding-top: 80px;
    font-size: 5em;
    color: white;
}
.sub-head{
    color: white;
    font-size: 2.5em;
    padding-bottom: 80px;
}
.pic{
    height: 350px;
    width: 100px;
    padding: 10px;
}
.citem{
    padding: 5px 0px;
}
.courses{
    padding: 20px;
}
.header{
    background-image: linear-gradient(rgba(20,20,20,0.8),rgba(20,20,20,0.8)),url("../images/code_bg.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    text-align: center;
    height: auto;
    font-family: 'Abel', sans-serif;
}


/* Media Queries */
@media only screen and (max-width: 600px) {
    .head{
        font-size: 3em;
    }
    .sub-head{
        font-size: 1em;
    }
}